body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: teal;
    padding: 2px 25px;
    color: white;
}

.conteiner {
    background-color: white;
    width: 80%;
    margin: 25px auto;
}

.conteiner h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    border-bottom: teal 2px solid;
    padding-top: 25px;
}

img {
    float: left;
    width: 250px;
    margin-right: 20px;
}

.conteiner p {
    text-align: justify;
}

.card {
    float: left;
    width: 250px;
    height: 180px;
    margin: 10px 25px;
    position: relative;
}

#worldGame {
    background: url(../assets/img/worldGame.png) no-repeat center;
}

#rpgGame {
    background: url(../assets/img/rpgGame.jpeg) no-repeat center;
}

#triviaGame {
    background: url(../assets/img/triviaGame.jpeg) no-repeat center;
}

#infoWidget {
    background: url(../assets/img/infoWidget.jpeg) no-repeat center;
}

#rpsGame {
    background: url(../assets/img/rpsGame.png) no-repeat center;
}

.card-body {
    padding: 0;
    position: relative;
}

.card-title {
    width: 100%;
    background-color: teal;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.card a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

form {
    padding-bottom: 20px;
}

footer {
    border-top: 5px teal solid;
    background-color: darkgrey;
}

@media screen and (max-width: 768px) {
    img {
        width: 150px;
    }
    .card {
        width: 200px;
    }
}

@media screen and (max-width: 640px) {
    img {
        float: none;
        width: 420px;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .card {
        width: 300px;
        height: 200px;
        margin: 10px auto;
        float: none;
    }
}