body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: black;
    padding: 2px 25px;
    color: white !important;
}

.conteiner {
    background-color: white;
    width: 80%;
    margin: 25px auto;
}

.conteiner h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    border-bottom: black 2px solid;
    padding-top: 25px;
}

img {
    float: left;
    width: 250px;
    margin-right: 20px;
}

.conteiner p {
    text-align: justify;
}

.card {
    float: left;
    width: 250px;
    height: 180px;
    margin: 10px 25px;
    position: relative;
}

#project-1 {
    background: url(../assets/img/packMyBags.png) no-repeat center;
}

#weather-dashboard {
    background: url(../assets/img/weatherDashboard.png) no-repeat center;
}

#code-quiz {
    background: url(../assets/img/codeQuiz.png) no-repeat center;
}

.card-body {
    padding: 0;
    position: relative;
}

.card-title {
    width: 100%;
    background-color: black;
    bottom: 10px;
    text-align: center;
}

.card-subtitle {
    width: 100%;
    background-color: teal;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.card a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

form {
    padding-bottom: 20px;
}

.links a {
    color: black;
    font-size: 25px;
    padding: 15px;
}

.links a:hover {
    color: teal;
}

footer {
    border-top: 5px black solid;
    background-color: darkgrey;
}

@media screen and (max-width: 768px) {
    img {
        width: 150px;
    }
    .card {
        width: 200px;
    }
}

@media screen and (max-width: 640px) {
    img {
        float: none;
        width: 420px;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .card {
        width: 300px;
        height: 200px;
        margin: 10px auto;
        float: none;
    }
}